ddgs
langgraph.checkpoint.sqlite
langchain_mcp_adapters
langgraph
langchain_community
langchain_openai
dotenv
streamlit
langchain_core
fastmcp
pypdf
faiss-cpu
langgraph-checkpoint-postgres
psycopg[binary,pool]